{% extends "layout.html" %}
{% block body %}
<div id="profile">
<h1> This is your dorky profile page.</h1>

<h3>How do people think you have been doing?</h3>
<p>THIS IS A LIST OF THINGS THIS PAGE WILL EVENTUALLY HAVE</p>
<ul>
	<ol>
		<li>Percentage rankings amongst local daters</li>
		<li>An option to upload a photo</li>
		<li>A private messaging system that will redirect to another page</li>
		<li></li>
		<li></li>
</ul>

<div name="Rating_list">
{% for user in users %}

	<p>User: {{ user.id }}: {{ user.email }}</p>

{% endfor %}
</div>

</div>
{% endblock %}