{% extends "layout.html" %}
{% block body %}
<div id="profile">
<h1> This is your dorky profile page.</h1>

<h3>How do people think you have been doing?</h3>
<p>THIS IS A LIST OF THINGS THIS PAGE WILL EVENTUALLY HAVE</p>
<ul>
	<ol>
		<li>Personal stats vs. other local users with percentages</li>
		<li>An option to upload a photo</li>
		<li>A private messaging system that will redirect to another page</li>
		<li>All the current session's user's information</li>
		<li>Past ratings in a message format that will redirect to another page</li>
</ul>
	<p>Feedback Score: {{feedback}}
	<p>Dating Average: {{dating}}
	<p>User: {{ user.email }}</p>

</div>
{% endblock %}