{% extends "layout.html" %}
{% block body %}

    <h1>How did your date go?</h1>
    <br>



	<br>
    <p>While rating individual's performance, keep in mind that everyone here is human &amp; you have the possibility of being marked down for overly critical and unhelpful feedback.</p>
    <form action="/save_rating" method="POST">

    	<!-- List of Recipients -->
    	<select name = "recipient_id">
    	{% for user in users %}
    	<option value = "{{ user.id }}">User: {{ user.id }}: {{ user.email }}</option>
    	{% endfor %}
    	</select>
		<!-- End Recipient List -->

      <fieldset>
        <legend>Dinner</legend>
          <p>How was your date's table manners?</p>
				<p>
					<select name = "star1">
						<option value = "1">1</option>
						<option value = "2">2</option>
						<option value = "3">3</option>
						<option value = "4">4</option>
						<option value = "5">5</option>
					</select>
				</p>
          <textarea name = "text1"
                  rows = "3"
                  cols = "80" placeholder ="Your text here"></textarea>
          <p>Was the conversation rich?</p>
          				<p>
					<select name = "star2">
						<option value = "1">1</option>
						<option value = "2">2</option>
						<option value = "3">3</option>
						<option value = "4">4</option>
						<option value = "5">5</option>
					</select>
				</p>
          <textarea name = "text2"
                  rows = "3"
                  cols = "80" placeholder ="Your text here"></textarea>

          <p>Were they presentable?</p>
          				<p>
					<select name = "star3">
						<option value = "1">1</option>
						<option value = "2">2</option>
						<option value = "3">3</option>
						<option value = "4">4</option>
						<option value = "5">5</option>
					</select>
				</p>
          <textarea name = "text3"
                  rows = "3"
                  cols = "80" placeholder ="Your text here"></textarea>
      </fieldset>
      <input id="button_rating" type="submit" value="Enter Rating">
    </form>

<!--     <form action="/save_user" method="POST">
        <strong>Email: <input type="text" name="user_email" placeholder="enter your email">
        <br />
        Password: <input type="password" name="password_field" placeholder="enter your password">
        <br />
        Age: <input type="integer" name="age_field" placeholder="enter your age">
        <br /></strong>
        <input type="submit">
    </form> -->
</div>


{% endblock %}